<%- include('../partial/head.ejs') %>

<!-- Preloader -->
<!-- <div id="pre_loader"></div> -->

<!--header-section start-->
<%- include('../partial/header.ejs') %>
<!-- header-section end -->

<!-- Trendi Post Section Start -->
<section class="featured_post_section  section_padding">
  <div class="container">
    <div class="title_area mb_60">
      <h2>Trendi Post</h2>
    </div>
    <div class="row ">
      <div class="popular grid_part_3">
        <% if(posts){ %>
        <% for(data of posts){ %>
        <div class="card">
          <div class="card_img ">
            <a href="/posts/<%=data?.title_url%>">
              <img src="<%=data?.coverImage %> " class="rounded" alt="Image">
            </a>
            <span class="title_absolute"><%=data?.tags[0].toUpperCase() %></span>
          </div>
          <div class="card-body">
            <div class="mb_16 small_text">
              <span><%=data?.author?.username,%></span>
              <span> 05 July 2022</span>
            </div>
            <h5 class="card-title mb_30"><%=data?.title?.slice(0,50)?.concat("...")%></h5>

          </div>
        </div>
        <% } %>
        <% } %>
      </div>
    </div>
  </div>
</section>


<!-- Footer Area Start -->
<%- include('../partial/footer.ejs') %>
<!-- Footer Area End -->